
<head>
    <link rel="stylesheet" href="/static/codeCss/connexion.css">
    
</head>

<div class="form-container">
    <div class="logo-container">
      Se connecter
    </div>

    <form class="form2" method="post">
      <div class="form-group">
        <label for="tel">Tel</label>
        <input type="tel" id="tel" name="Telephone" placeholder="Entrez votre numero de tel" required="">
      </div>

      <button class="form-submit-btn" type="submit">Connexion</button>
    </form>

    <p class="signup-link">
        Vous n'avez pas de compte ?
      <a href="/inscription" class="signup-link link"> Inscrivez-vous maintenant</a>
    </p>
  </div>