<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
            <img src="https://www.biliiv.com/university/images/pub10.jpg" alt="Card" />
          <h2>Billiiv_test</h2>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">S'inscrire</a></li>
            <li><a href="#">Se connecter</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; Billiiv_test. Tous droits réservés.</p>
      </div>
    </div>
    </footer>



</body>
</html>