<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billiiv_test</title>
    <link rel="stylesheet" href="/static/codeCss/footer.css">
    <link rel="stylesheet" href="/static/codeCss/header.css">
</head>
<body>
    <header class="site-header">
        <img
                  src="https://www.biliiv.com/university/images/pub10.jpg"
                  alt=""
                  class="brand"
                />
        <div class="wrapper site-header__wrapper">
            <div class="logo-texte">
              <div class="site-header__start">
                <img
                  src="https://www.biliiv.com/university/images/pub10.jpg"
                  alt=""
                  class="brand"
                />
              </div>
              <h3>Billiiv_test</h3>
            </div>
            <div class="site-header__middle">
                <nav class="nav">
                    <ul class="nav__wrapper">
                      <li class="nav__item">
                        <a href="/connexion" class='liens'>Se connecter</a>
                      </li>
                      <li class="nav__item">
                        <a href="/inscription" class='liens'>S'inscrire</a>
                      </li>
                    </ul>
                  </nav>
            </div>
          </div>
          <button class="listes-users" > <a href="/listesUsers">Affichez la liste</a></button>
      </header>